body{
    margin: 0;
    padding: 0;
    /* background-image: url(img/bg-3.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
    background-image: linear-gradient(#000000, #050531, #001277);
    
}
/* this nav section  */
.menubar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menubar ul{
    float: right;
    list-style: none;
    display: flex;
    
    
}
.menubar li{
    margin: 0 5px;
    padding: 0px 15px;
    
    background-color: #3D0C11;
    border-radius: 4px;
    
}
.menubar a{
    color: white;
    text-decoration: none;
    font-size: 25px;
       
}
.menubar ul :hover{
    background: #FF004D;
}
nav .logo img{
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 45px;
    
}

/* the end nav  */


/* Start home section  */

.welcome-section {
    display: flex;
    text-align: justify;
}

.half-width{
    width: 50%;

}

.image-area img {
   
    padding-top: 20px;
    padding-left: 1px;
    display: flex;
    /* width: 400px;
    height: 400px; */
}
body>h1 {
    font-size: 50px;
    text-align: center;
    /* padding-right: 50px; */
   
}
body>h3{
    
    font-size: 30px;
    text-align: center;
    /* padding-right: 200px; */
}
.text-color{
    color: #fa0019;
}
.text-color-2{
    color: #ffffff;
}
.brief{
    margin-top: 80px;
    text-align: right;
    
    /* padding-right: 50px;
    padding-top: 130px;
    padding-left: 500px; */
}
.brief>h3{
    font-size: 60px;
    font-style: oblique;
   
   
}
.brief>h5{
    color: white;
    font-size: 30px;
}
 section .brief :hover{
    color: #fa0019;
    
 }
/* social section  */
 .iconediv{
    display: flex;
    padding-left: 45%;
}
    

.fb a{
    color: #40A2E3;
    font-size: 50px;
    
}
.github a{
    color: #FC6736;
    font-size: 50px;
    
}
.email a{
    color: #0C2D57;
    font-size: 50px;
    
}
.bordar{
    /* width: 6%; */
    text-align: center;
    margin: 10px;
    /* padding: 2px 3px; */
    border: 1px;
    border-color: blueviolet;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 1px rgb(169, 169, 190);
}
.bordar a{
    padding: 2px 6px;
}
.bordar a :hover{
    color: rgb(0, 0, 0);
    font-size: 55px;
}
footer{
    text-align:center;
    color: #ffffff;
    font-style: italic;
}
