body{
    font-family: Ubuntu;
}
body{ 
    /* background-image: url(img/image_6483441\ \(1\).JPG); */
    background-color: #E3E1D9;
    margin: 0;
    padding: 0;
    

}
/* form-section  */
section {
    text-align: center;
    padding: 20px;
}
section h1{
   font-size: 50px;
}
section h3{
    font-size: 30px;
 }
 section>p>input {
  font-size: 25px;  
  padding: 6px 10px;
  border-radius: 4px;
  /* background-color: #FFF3CF; */
 }
 fieldset{
        max-width: 25%;
        margin-left: 36.5%;
        border-radius: 5px;
        background-color: antiquewhite;
 }
 legend{
    font-size: 25px;

 }
section>button{
    font-size: 30px;
    padding: 10px 20px ;
    border-radius: 8px;
    background-color: aqua;
    
}
section>button:hover {
    background-color: #D04848;
    font-size: 40px;
}

.text-color{
    color: #FF004D;
}
.text-color-2{
    color: #3D0C11;
}
/* Header-section end  */





.menubar ul{
    float: right;
    list-style: none;
    display: flex;
    
}
.menubar li{
    margin: 0 5px;
    padding: 0px 15px;
    
    background-color: #3D0C11;
    border-radius: 4px;
    
}
.menubar a{
    color: white;
    text-decoration: none;
    font-size: 25px;
       
}
.menubar ul :hover{
    background: #FF004D;
}
nav .logo {
    color: #ffffff;
    font-size: 45px;
    position: absolute;
    background-color: #3D0C11;
    border-radius: 10px;
    padding: 0 5px;
}
 